body{
    padding: 0;
    margin: 0;
    color: #fff;
}

.card{
    background-color: #333;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
}

.container{
  width: 1270px;
  height: 800px;
  background-color: #fff;  
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    column-gap: 20px;
}

/* Header */

.header{
    width: 1270px;
    height: 20px;
    background-color:rgb(224, 211, 194);
    color: black;
}
.header{
    display: flex;
    justify-content: flex-end;
    padding: 0 0px;
    align-items: center;
    line-height: .33
}
.header > div{
    padding: 0 20px;
    font-size: 10px
}
.email-phone{
    display: flex;
}
.email-phone p{
    padding: 0 20px;
}

/*Menu*/

a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.menu{
    height: 40px;
    background-color: #333;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: .88px;
}

/*section*/

.section .grid{
    grid-template-columns: 1fr 7fr;
}

.section{
    padding: auto;
    margin: auto;
}

/*left*/

.left-card{
    width:300px;
    height: 700px;
    margin-top:10px;
    margin-left: 40px;
}
figure img{
    width: 200px;
    border-radius: 50%;
    margin-left: 10px;
    border:3px solid #FFD700;
}
figcaption{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
}
.left-card >h2,p,address{
    text-align: center;
    line-height: 1.2;
    font-family:system-ui;
}
.left-card h2{
    font-size: 16px;
    border-bottom: 2px solid #FFD700;
    border-top: 2px solid #FFD700;
    border-radius: 20px;
}

.social i{
    padding-right: 10px;
    font-size: 25px;
}
.social{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*Right card*/

ul{
    list-style-type: none;
}

.right-card{
    width: 850px;
    height: 680px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 17px;
    padding: 10px;
}
.right-card .grid{
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.right-card div h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#FFD700;
    border-radius: 20px;
    color: black;
}
.right-card .list{
    margin-left: 200px;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
}
.right-card pre{
    font-family: 'Times New Roman', Times, serif;
}